<h3>Trips</h3>

<!-- ADD TRIP MODAL -->
  <!-- MODAL TRIGGER -->
  <button class="btn btn-primary"
    data-toggle="modal"
    data-target="#addTripModal">Add Trip</button>

<br><br>

<!-- TRIPS LIST -->
  <div class="row">
    <% @trips.each do |trip| %>
      <!-- ADD TRIP LOCATION HERE -->
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><%= trip.trip_title %></h4>
              <% if trip.start_date && trip.end_date %>
                <p class="card-text"><%= trip.start_date.strftime("%B %d, %Y") %> - <%= trip.end_date.strftime("%B %d, %Y") %></p>
              <% else %>
                <% nil %>
              <% end %>
              <a href="/trips/<%= trip.id %>" class="btn btn-primary">View Trip</a>
            </div>
          </div>
        </div>
      </div>
  <% end %>

<!-- MODAL CONTENT -->
  <div class="modal fade" id="addTripModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add Trip</h4>
          <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <%= form_tag "/trips", method: :post do  %>
          <div class="modal-body">
            <%= render partial: "trip_form" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Trip</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>




