<h3><%= @trip.trip_title %></h3>
<!-- insert location here -->
<% if @trip.start_date && @trip.end_date %>
  <p><%= @trip.start_date.strftime("%B %d, %Y") %> - <%= @trip.end_date.strftime("%B %d, %Y") %></p>
<% else %>
  <% nil %>
<% end %>

<%= button_to "Delete", "/trips/#{@trip.id}", method: :delete, data: { confirm: 'Are you sure?' } %> 

<!-- EDIT TRIP MODAL ** THIS WORKS ** -->
<!-- MODAL TRIGGER -->
  <a href="/trips/#{@trip.id}/edit" class="btn btn-primary" 
    data-toggle="modal"
    data-target="#editTripModal">Edit Trip</a>

<!-- ADD BOARD MODAL ** THIS WORKS ** -->
  <!-- MODAL TRIGGER -->
  <button class="btn btn-primary" 
    data-toggle="modal"
    data-target="#addBoardModal">Add Board</button>

<!-- ADD LODGING MODAL -->
  <!-- MODAL TRIGGER -->
  <button class="btn btn-primary" 
    data-toggle="modal"
    data-target="#addLodgingModal">Add Lodging</button>

<!-- ADD TRANSPORTATION MODAL -->
  <!-- MODAL TRIGGER -->
  <button class="btn btn-primary" 
    data-toggle="modal"
    data-target="#addTransportationModal">Add Transportation</button>
  
<!-- EDIT TRIP MODAL CONTENT --> 
  <div class="modal fade" id="editTripModal" tabindex="-1" role="dialog" aria-labelledby="editTripModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Edit <%= @trip.trip_title %> Trip</h4>
          <button class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
          <%= form_tag "/trips/#{@trip.id}", method: :patch do  %>
            <div class="modal-body">
              <%= render partial: "trip_form", locals: {trip: @trip} %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
<!-- ADD BOARD MODAL CONTENT -->
  <div class="modal fade" id="addBoardModal" tabindex="-1" role="dialog" aria-labelledby="addBoardModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add Board</h4>
          <button class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
        <%= form_tag "/trips/#{@trip.id}/boards", method: :post do  %>
          <div class="modal-body">
            <div>
              Board Title: <input type="text" name="board_title">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Board</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- ADD LODGING MODAL CONTENT -->
  <div class="modal fade" id="addLodgingModal" tabindex="-1" role="dialog" aria-labelledby="addLodgingModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add Board</h4>
          <button class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
        <%= form_tag "/trips/#{@trip.id}/lodgings", method: :post do  %>
          <div class="modal-body">
            <div>
              Name:<br>
              <input type="text" name="lodging_name"><br>
            </div>
            <div>
              Check In:<br>
              <input type="date" name="checkin_date"><br>
            </div>
            <div>
              Check Out:<br>
              <input type="date" name="checkout_date"><br>
            </div>
            <div>
              Notes:<br>
              <textarea name="notes"></textarea>
            </div>
            <div>
              Price: <input type="number" min="0.00" max="999999.99" step="any" name="price">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Board</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>


<!-- ADD TRANSPORTATION MODAL CONTENT -->
  <div class="modal fade" id="addTransportationModal" tabindex="-1" role="dialog" aria-labelledby="addTransportationModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add Board</h4>
          <button class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
        <%= form_tag "/trips/#{@trip.id}/transportations", method: :post do  %>
          <div class="modal-body">
            <div>
              Name:<br>
              <input type="text" name="transpo_name"><br>
            </div>
            <div>
              Depart Date:
              <input type="date" name="depart_date">
            </div>
            <div>
              Depart Time:
              <input type="time" name="depart_time"><br>
            </div>
            <div>
              Arrival Date:
              <input type="date" name="arrive_date">
            </div>
            <div>
              Arrival Time:
              <input type="time" name="arrive_time"><br>
            </div>
            <div>
              Notes:<br>
              <textarea name="notes"></textarea><br>
            </div>
            <div>
              Price: <input type="number" min="0.00" max="999999.99" step="any" name="price">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Board</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- LODGING LIST -->



<!-- BOARDS LIST - EACH -->
<% @trip.boards.each do |board| %>
  <div>
<!-- BOARD HEADER -->
    <div class="board-header">
      <h5><%= board.board_title %></h5>
    </div>
<!-- BOARD OPTIONS -->
    <div class="dropdown">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#editBoard<%=board.id%>">Edit Board</button>
        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#addItem<%=board.id%>">Add Item</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button">Archive</button> <!-- TODO: Archive Board -->
        <button href="/trips/#{@trip.id}/boards/#{board.id}" class="dropdown-item" type="button" data-method="delete" >Delete</button> <!-- TODO: Delete Board -->
      </div>
    </div>

<!-- EDIT BOARD MODAL CONTENT -->
      <div class="modal fade" id="editBoard<%=board.id%>" tabindex="-1" role="dialog" aria-labelledby="editBoard<%=board.id%>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Edit <%= board.board_title %></h4>
              <button class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <%= form_tag "/trips/#{@trip.id}/boards/#{board.id}", method: :patch do  %>
              <div class="modal-body">
                <div>
                  Board Title: <input type="text" name="board_title" value="<%= board.board_title %>">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

<!-- ADD ITEM MODAL CONTENT -->
      <div class="modal fade" id="addItem<%=board.id%>" tabindex="-1" role="dialog" aria-labelledby="addItem<%=board.id%>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Add Item <%= board.board_title %></h4>
              <button class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <%= form_tag "/trips/#{@trip.id}/boards/#{board.id}/items", method: :post do  %>
              <div class="modal-body">
                <div>
                  <%= render partial: "item_form" %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add Item</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

<!-- ITEMS LIST -->
      <% board.items.each do |item| %>
        <div class="btn btn-link" data-toggle="modal" data-target="#showItem<%=item.id%>">
          <%= item.description %> | <%= item.item_type %>
        </div><br> <!-- TODO: show only a few characters of the notes--> 

<!-- TODO: SHOW ITEM MODAL CONTENT -->
<!-- SHOW ITEM MODAL CONTENT -->
      <div class="modal fade" id="showItem<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="showItem<%=item.id%>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel"><%= item.item_type %></h4>
              <button class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body">
              <div>
              <%= item.description %>
              </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add Item</button>
              </div>
          </div>
        </div>
      </div>


      <% end %> <!-- END OF ITEM-->
  
  </div> <!-- END OF BOARD --> 
  <br><br>
<% end %>


