<!-- TRIP INFO -->
<div id="trip-info">
  <h3><%= @trip.trip_title %></h3>
  <!-- TODO: insert location here -->
    <% if @trip.start_date && @trip.end_date %>
      <p><%= @trip.start_date.strftime("%B %d, %Y") %> - <%= @trip.end_date.strftime("%B %d, %Y") %></p>
    <% else %>
      <% nil %>
    <% end %>

  <!-- TRIP OPTIONS: EDIT / DELETE -->
    <div id="trip-options">
      <button class="btn btn-sm"
        data-toggle="modal" data-target="#editTripModal"><i class="ei ei-pencil"></i></button>
      <%= link_to raw("<i class=\"ei ei-garbage\"></i>"),
        "/trips/#{@trip.id}",
        class: "btn btn-sm",
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    <!-- ADD BOARD MODAL -->
    <!-- MODAL TRIGGER -->
      <button class="btn btn-md btn-theme" 
        data-toggle="modal"
        data-target="#addBoardModal">Add Board</button>
    </div>


<!-- EDIT TRIP MODAL CONTENT --> 

    <div class="modal fade modal-center" id="editTripModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                  <div class="modal-body no-pdd">
                      <div class="padding-30">
                          <h3 class="mrg-vertical-15">Edit <%= @trip.trip_title %> Trip</h3>
                          <%= form_tag "/trips/#{@trip.id}", method: :patch do  %>
                            <div class="modal-body">
                              <div class="form-group">
                                <label for="trip_title">Trip Title</label>
                                <input type="text" class="form-control" id="trip_title" name="trip_title" placeholder="New York, Destination Wedding, Etc." value="<%= @trip.trip_title %>">
                              </div>
                              <div class="form-group">
                                <label for="start_date">From</label>
                                <input type="date" class="form-control" id="start_date" name="start_date" value="<%= @trip.start_date %>">
                              </div>
                              <div class="form-group">
                                <label for="end_date">To</label>
                                <input type="date" class="form-control" id="end_date" name="end_date" value="<%= @trip.end_date %>">
                              </div>
                            </div>
                            <div class="text-right mrg-top-20">
                              <button type="button" class="btn btn-md btn-default border-radius-4" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-md btn-theme border-radius-4">Save Changes</button>
                            </div>
                          <% end %>
                      </div>
                      <div class="modal-close">
                          <button type="button" class="btn icon-btn-md icon-btn-round btn-dark lh-0" data-dismiss="modal"><i class="ei ei-close"></i></button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
<!-- ADD BOARD MODAL CONTENT -->

    <div class="modal fade modal-center" id="addBoardModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                  <div class="modal-body no-pdd">
                      <div class="padding-30">
                          <h3 class="mrg-vertical-15">Add Board</h3>
                          <%= form_tag "/trips/#{@trip.id}/boards", method: :post do  %>
                            <div class="modal-body">
                              <div class="form-group">
                                <label for="board_title">Board Title</label>
                                <input type="text" class="form-control" id="board_title" name="board_title" placeholder="First Day in NYC, Food List, Etc.">
                              </div>
                              <div class="form-group">
                                <label for="category">Category</label>
                                <input type="text" class="form-control" id="category" name="category" placeholder="Lodging, Activity, Food / Drink">
                              </div>
                            </div>
                            <div class="text-right mrg-top-20">
                              <button type="button" class="btn btn-md btn-default border-radius-4" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-md btn-theme border-radius-4">Add Board</button>
                            </div>
                          <% end %>
                      </div>
                      <div class="modal-close">
                          <button type="button" class="btn icon-btn-md icon-btn-round btn-dark lh-0" data-dismiss="modal"><i class="ei ei-close"></i></button>
                      </div>
                  </div>
              </div>
          </div>
      </div>


<!-- BOARDS LIST - EACH -->
<% @trip.boards.each do |board| %>
  <div class="row mrg-top-50">
  <div class="col-md-3" id="board-each">
<!-- BOARD HEADER -->
    <div class="board-header">
      <h5><%= board.board_title %></h5>
    </div>
<!-- BOARD OPTIONS -->
    <div class="dropdown">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#editBoard<%=board.id%>">Edit Board</button>
        <button class="dropdown-item" type="button" data-toggle="modal" data-target="#addItem<%=board.id%>">Add Item</button>
        <div class="dropdown-divider"></div>
        <!-- <button class="dropdown-item" type="button">Archive</button> TODO: Archive Board -->
        <%= button_to "Delete", "/trips/#{@trip.id}/boards/#{board.id}", method: :delete, class: "dropdown-item", data: { confirm: 'Are you sure?' } %> 
      </div>
    </div>

<!-- EDIT BOARD MODAL CONTENT -->
      <div class="modal fade" id="editBoard<%=board.id%>" tabindex="-1" role="dialog" aria-labelledby="editBoard<%=board.id%>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Edit <%= board.board_title %></h4>
              <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <%= form_tag "/trips/#{@trip.id}/boards/#{board.id}", method: :patch do  %>
              <div class="modal-body">
                <div>
                  <label for="board_title">Board Title</label>
                  <input type="text" class="form-control" id="board_title" name="board_title" placeholder="First Day in NYC, Food List, Etc." value="<%= board.board_title %>">
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm btn-theme">Save Changes</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

<!-- ADD ITEM MODAL CONTENT -->
      <div class="modal fade" id="addItem<%=board.id%>" tabindex="-1" role="dialog" aria-labelledby="addItem<%=board.id%>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Add Item <%= board.board_title %></h4>
              <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <%= form_tag "/trips/#{@trip.id}/boards/#{board.id}/items", method: :post do  %>
              <div class="modal-body">
                <div>
                  <%= render partial: "item_form" %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm btn-theme">Add Item</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

<!-- ITEMS LIST -->
      <% board.items.each do |item| %>
        <div id="item-each" class="btn btn-link" data-toggle="modal" data-target="#showItem<%=item.id%>">
          <%= item.description %> | <%= item.item_type %>
        </div><br> <!-- TODO: show only a few characters of the notes--> 

<!-- SHOW ITEM MODAL CONTENT -->
        <div class="modal fade" id="showItem<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="showItem<%=item.id%>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><%= item.item_type %></h4>
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <div>
                  <p><%= item.description %></p>
                  <hr>
                  <p>Price / Budget: <%= item.price %></p>
                </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-sm btn-theme" data-toggle="modal" data-target="#editItem<%=item.id%>">Edit</button>
                  <!-- MOVE BUTTON -->
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Move
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <% @trip.boards.each do |board|%>
                        <% if item.board_id != board.id %>
                          <%= form_tag "/trips/#{@trip.id}/boards/#{board.id}/items/#{item.id}", method: :patch do  %>
                            <button class="dropdown-item" name="board_id" value="<%= board.id %>"><%= board.board_title %></button>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <!-- END OF MOVE -->
                  <%= button_to "Delete", "/trips/#{@trip.id}/boards/#{board.id}/items/#{item.id}", method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                </div>
            </div>
          </div>
        </div>


<!-- EDIT ITEM MODAL CONTENT -->

        <div class="modal fade" id="editItem<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="editItem<%=item.id%>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <%= form_tag "/trips/#{@trip.id}/boards/#{board.id}/items/#{item.id}", method: :patch do  %>
                <div class="modal-body">
                  <div>
                    <div class="form-check form-check-inline" value="<%= item.item_type %>">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="item_type" id="inlineRadio1" value="Food / Drink"> Food / Drink
                      </label> <!-- TODO: conditional checked="checked" -->
                    </div>
                    <div class="form-check form-check-inline" value="<%= item.item_type %>">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="item_type" id="inlineRadio2" value="Activity"> Activity
                      </label>
                    </div>

                    <div>
                      Description:<br>
                      <textarea class="form-control" name="description" maxlength="500"><%= item.description %></textarea>
                    </div>
                    
                    <div>
                      <label for="price">Price / Budget</label>
                      <input type="number" min="0.00" max="999999.99" step="any" class="form-control" id="price" name="price" placeholder="$" value="<%= item.price %>">
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-sm btn-theme">Save Changes</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>


      <% end %> <!-- END OF ITEM-->
  
  </div>
</div>
  <br><br>
<% end %> <!-- END OF BOARD -->


